.pink-text {
  color: #E24260;
}

.landing-page__text {
  font-size: 5.2em;
  text-align: right;
  margin: 1.4em 0.6em 0 0;
}

.landing-page__background {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(/images/background-rotated.png) 0 0 no-repeat;
  background-size: 100% 100%;
  opacity: 0.6;
}

.landing-page__header {
  font-size: 12em;
  text-align: right;
  margin: 1.2em 0.6em 0 0;
}

.landing-page__go {
  float: right;
  margin: 0.6em;
  padding: 0.2em;
  font-size: 11em;
  border-radius: 15px;
  border: 5px #E24260 solid;
  background-color: transparent;
  transition: background-color .4s;
}

.landing-page__go:hover {
  background-color: rgba(226, 66, 99, .5);
  transition: background-color .4s;
}

.process-sec {
  top: 100%;
  width: 100%;
  height: 200%;
  padding: 4em 0;
  text-align: center;
  position: absolute;
  background: url(../images/pattern.gif) 0 0 repeat;
}

.process-sec__header {
  font-size: 5.2em;
}

.process-sec__steps {
  left: 0;
  width: 100%;
  height: 100%;
}

.step-circle {
  cx: 50%;
  r: 40px;
  fill: #E24260;
  stroke: #E24260;
  stroke-width: 3px;
}

.step-circle:nth-child(1) {
  cy: 5%;
}
.step-circle:nth-child(2) {
  cy: 15%;
}
.step-circle:nth-child(3) {
  cy: 25%;
}
.step-circle:nth-child(4) {
  cy: 35%;
}
.step-circle:nth-child(5) {
  cy: 45%;
}
.step-circle:nth-child(6) {
  cy: 55%;
}
.step-circle:nth-child(7) {
  cy: 65%;
}
.step-circle:nth-child(8) {
  cy: 75%;
}
.step-circle:nth-child(9) {
  cy: 85%;
}
.step-circle:nth-child(10) {
  cy: 95%;
}

.vertical-line {
  top: 10%;
  z-index: 0;
  height: 85%;
  position: absolute;
  left: calc(50% - 6px);
  border: 6px #E24260 solid;
}

@media only screen and (min-width: 500px) {
  .navbar__dropdown {
    top: 109px;
    width: 100%;
    height: auto;
    display: block;
    position: fixed;
    margin-top: -2px;
    text-align: right;
    padding-bottom: 1em;
    background-color: #E24260;
  }

  .navbar__dropdown:not(.active) {
    font-size: 0;
    margin-top: -3em;
    transition: font-size .4s;
  }

  .navbar__dropdown.active {
    font-size: 3em;
    transition: font-size .4s;
  }

  .navbar__dropdown li {
    padding: .25em 0.6em;
  }

  .navbar__list-mobile {
    top: 0;
    width: 100%;
    display: flex;
    position: fixed;
    font-size: 3.8em;
    padding: .3em .5em;
    flex-direction: row;
    list-style-type: none;
    background-color: #E24260;
    justify-content: space-around;
  }

  .left-nav {
    float: left;
  }

  .right-nav {
    float: right;
  }

  .burger-menu:not(.active) {
      transform: rotate(0);
      transition: transform .4s;
  }

  .burger-menu.active {
      transform: rotate(-90deg);
      transition: transform .4s;
  }
}
