.planning {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#myVideo{
  width:100%;
  height: 100%;
  opacity:0.5;
}
.video{
      width: 100%;
      height: 50%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.planningText{
  display: flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
}

.planText{
  text-align: center;
  font-family: monospace;
  font-size: 4em;
}
.Submitbtn{
  width:50%;
  height: auto;
  background-color:#E24260;
  border: solid 1px #000;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5em;
  margin-top: 50px;
  cursor: pointer;
  background-color:#E24260;
  transition-duration: 0.5s;
  animation: fadein 1s;
}
