<div class="blogSection">
  <div class="blogContainer">
    <h3 class="blogText">Blog</h3>
  </div>
<div class="blogSlider">
  <div class="blogPost">
    <img src="https://i.imgur.com/EMvFMcx.jpg" alt="post">
    <h1 class="titlePost">Wedding</h1>
    <h4 class="datePost">20.April 2018</h4>
    <h5class="detailePost">We have re-branded and changed our name from Royal Blue Events &
    Services to A&A Weddings!</h5>
    <span class="more"><a href="#" >Read more ...</a></span>
  </div>
  <div class="blogPost">
    <img src="https://i.imgur.com/EMvFMcx.jpg" alt="post">
    <h1 class="titlePost">Wedding</h1>
    <h4 class="datePost">20.April 2018</h4>
    <h5class="detailePost">We have re-branded and changed our name from Royal Blue Events &
    Services to A&A Weddings!</h5>
    <span class="more"><a href="#" >Read more ...</a></span>
  </div>

</div>

</div>
