<div class="bgImg">
  <form action="#"  name="form" method="post"class="formCont">
    <div class="container">
       <h3 class ='contact'>Contact Us</h3>
    <input type="text" class="inputCont" name="username" placeholder=" Your Name  ðŸ‘¦ ðŸ‘§ "required>
    <input type="email" class="inputCont" name="email" placeholder="E-mail  ðŸ’Œ  "required>
    <textarea class="notes" name="notes" placeholder=" Note  âœ "required></textarea>
    <input class="submitbutton" id= "submit" type="submit" value="ðŸ’• Submit  ðŸ’•">
  </div>
  </form>
</div>
