<div class="contactContainer">
<h3 class ='contact'>Contact Us</h3>
<div class= "formFrame">
  <form action="#" onsubmit="return validate()"  name="form" method="post">
    <input type="text" class="username" name="username" placeholder=" Your Name ðŸ‘¦ ðŸ‘§ .."required>
    <input type="email" class="email" name="email" placeholder="E-mail ðŸ’Œ ... "required>
    <textarea class="notes" name="notes" placeholder=" Note  âœ ...."required></textarea>
    <input class="submitbutton" id= "submit" type="submit" value="ðŸ’•Submit ðŸ’•">
  </form>
</div>
</div>
