<div class="landing-page__background"></div>
<div class="landing-page">
  <h1 class="landing-page__header">Hera</h1>
  <p class="landing-page__text">Plan your happiness<wbr><span class="pink-text">With a click</span></p>
  <button name="toProcess" onclick="scrollToPlace(this)" class="landing-page__go" type="button" name="button">Lets Start<span class="pink-text">♡</span></button>
</div>
<div class="process-sec">
  <h2 class="process-sec__header">Process</h2>
  <div class="process-sec__steps fill">
    <svg class="fill">
      <circle class="step-circle"/>
      <circle class="step-circle"/>
      <circle class="step-circle"/>
      <circle class="step-circle"/>
      <circle class="step-circle"/>
      <circle class="step-circle"/>
      <circle class="step-circle"/>
      <circle class="step-circle"/>
      <circle class="step-circle"/>
      <circle class="step-circle"/>
    </svg>
    <div class="vertical-line"></div>
    <div>
      <button class="process-sec__service">Wedding Planner 1</button>
      <button class="process-sec__service">Wedding Planner 2</button>
      <button class="process-sec__service">Wedding Planner 3</button>
      <button class="process-sec__service">Wedding Planner 4</button>
      <button class="process-sec__service">Wedding Planner 5</button>
      <button class="process-sec__service">Wedding Planner 6</button>
      <button class="process-sec__service">Wedding Planner 7</button>
      <button class="process-sec__service">Wedding Planner 8</button>
      <button class="process-sec__service">Wedding Planner 9</button>
      <button class="process-sec__service">Wedding Planner 0</button>
    </div>
  </div>
</div>
