  <div class="vendoersSection">
    <s class= "processText" >Our Process</h3>
    <div class="vendoersLinks">
    <a href="#"><div class="vendoersImg"><img src='./../../public/images/card.svg'></div></a>
    <a href="#"><div class="vendoersImg"><img src='./../../public/images/dress.svg'></div></a>
    <a href="#"><div class="vendoersImg"><img src='./../../public/images/hairicon.png'></div></a>
    <a href="#"><div class="vendoersImg"><img src='./../../public/images/camera.png'></a>
    <a href="#"><div class="vendoersImg"><img src='./../../public/images/flower.png'></div></a>
    <a href="#"><div class="vendoersImg"><img src='./../../public/images/car.png'></div></a>
    <a href="#"><div class="vendoersImg"><img src='./../../public/images/cake.svg'></div></a>
    <a href="#"><div class="vendoersImg"><img src='./../../public/images/hall.png'></div></a>
    <a href="#"><div class="vendoersImg"><img src='./../../public/images/music.png'></div></a>
    <a href="#"><div class="vendoersImg"><img src='./../../public/images/cake.svg'></a>
  </div>
</div>
