<div class="teamSection">
  <div class="teamContainer">
    <h3 class="teamText">Team</h3>
  </div>
<div class="teamMember">
  <div class="firstMember">
    <img src="images/marwa.jpg" alt="marwa">
    <h4 class="memberName">Marwa Ahmed AlBeltaji</h4>
    <h5 class="data">Web Developer</h5>
    <span class="contactMember"><a href="#" ></a></span>
  </div>
  <div class="secondMember">
    <img src="images/nour.jpg" alt="post">
    <h5 class="memberName">Wedding</h5>
    <h4 class="data">Web Developer</h4>
    <span class="contactMember"><a href="#" ></a></span>
  </div>

  <div class="secondMember">
    <img src="images/mah.jpg" alt="post">
    <h4 class="memberName">Wedding</h4>
    <h5 class="data">Web Developer</h5>
    <span class="contactMember"><a href="#" ></a></span>
  </div>
</div>
</div>
