<div class="card">
  <img src="images/.jpg" alt="John" style="width:100%">
  <h1>Marwa AlBeltaji</h1>
  <p class="title">PO & Developer</p>
  <a href="#" class="social"><i class="fa fa-twitter"></i></a>
  <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="social"><i class="fa fa-facebook"></i></a>
</div>
