<div class="cart-item">
  <h2 class="cart-item__title">Title: {{title}}</h2>
  <h2 class="cart-item__category">Category: {{category}}</h2>
  <h2 class="cart-item__price">Price: {{price}} {{priceCurrency}}</h2>
  <div class="cart-item__edit-keys">
    <button type="button" name="button"><i class="fas fa-pencil-alt"></i></button>
    <button type="button" name="button"><i class="far fa-trash-alt"></i></button>
  </div>
</div>
