  <h2 class="header left_footer">Hera</h2>
  <div class="right_footer">
    <div class="footer_contacts">
      <i class="fab fa-facebook-f facebook-blue"></i>
      <i class="fab fa-twitter twitter-blue"></i>
      <i class="fab fa-instagram insta-col"></i>
    </div>
    <p>Copyright 2018©All Rights Reserved|<span class="pink-text">Hera</span></p>
  </div>
