<div class="navbar">
  <ul class="navbar__list-mobile">
    <li class="navbar__list__li left-nav">Hera</li>
    <li class="navbar__list__li right-nav burger-menu" onclick="dropdown()">☰</li>
  </ul>
  <ul class="navbar__dropdown navbar__list-wide">
    <li>Halls</li>
    <li>Photographers / Videographers</li>
    <li>Dresses</li>
    <li>Bokays</li>
    <li>Hair Dressers</li>
    <li>Cake</li>
    <li>Invitation Cards</li>
    <li>Gifts</li>
    <li>Cars</li>
  </ul>
  <button name="toTop" id="backToTop" type="button" name="button" onclick="scrollToPlace(this)">↥</button>
</div>
