<div class="navbar">
  <ul class="navbar__list-mobile">
    <li class="navbar__list__li left-nav">هيرا</li>
    <li class="navbar__list__li right-nav burger-menu" onclick="dropdown()">☰</li>
  </ul>
  <ul class="navbar__dropdown navbar__list-wide">
    <li>صالات</li>
    <li>مصورون</li>
    <li>فساتين</li>
    <li>ورود</li>
    <li>كوافيرات</li>
    <li>كيك</li>
    <li>بطاقات دعوة</li>
    <li>هدايا</li>
    <li>سيارات</li>
  </ul>
</div>
