<!DOCTYPE html>
<html>
  {{>head}}
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <header>
    {{>navbar}}
  </header>
  <body onscroll="useScroll()">
    {{{body}}}
    <div class="footer_reserve"></div>
  </body>
  <script src="/js/fetch.js" charset="utf-8"></script>
  <script src="/js/navbar.js"  charset="utf-8"></script>
  <script src="/js/home.js" charset="utf-8"></script>
  {{#if script}}
  <script src="/js/{{script}}.js"  charset="utf-8"></script>
  {{/if}}
  <footer>
    {{>footer}}
  </footer>
</html>
