<!DOCTYPE html>
<html>
  {{>head}}
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <header>
    {{>navbar}}
  </header>
  <body>
    {{{body}}}
  </body>
  <script src="/js/navbar.js"  charset="utf-8"></script>
  <footer>
    {{>footer}}
  </footer>
</html>
